@{
    Layout = "_LayoutHome";
}
@model IList<Producto>

<h2>Hola, bienvenido!!!</h2>


<form action="/Home/MisProductos" method="post">
    <input name="Nombre" />
    <input type="submit" value="Filtrar" />
</form>

@if (Model == null || Model.Count == 0)
{
    <div>No hay productos</div>
}
else
{
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
            </tr>
        }
    </table>
}
